<div class="min-h-screen w-full bg-gray-100 flex items-center justify-center p-4">

  <div class="w-full max-w-4xl flex flex-col gap-6">

    <div class="relative bg-white rounded-xl shadow-lg overflow-hidden h-[500px]">

      <div class="absolute inset-0 flex flex-col md:flex-row">

        <div class="w-full md:w-1/2 h-full flex items-center justify-center px-6">
          <app-login-form *ngIf="mode === 'login'"></app-login-form>
        </div>

        <div class="w-full md:w-1/2 h-full flex items-center justify-center px-6">
          <app-register-form *ngIf="mode === 'register'"></app-register-form>
        </div>

      </div>

      <div class="hidden md:block absolute top-0 left-0 w-1/2 h-full bg-blue-700 text-white transition-transform duration-700 ease-in-out z-20"
        [ngClass]="{
          'translate-x-full': mode === 'login',
          'translate-x-0': mode === 'register'
        }"
      >
        <app-auth-overlay
          [mode]="mode"
          (login)="switchToLogin()"
          (register)="switchToRegister()"
        ></app-auth-overlay>
      </div>

      <div class="md:hidden absolute bottom-0 left-0 w-full h-63 bg-blue-700 text-white transition-transform duration-700 ease-out z-20"
        [ngClass]="{
          'translate-y-0': mode === 'login',
          '-translate-y-full': mode === 'register'
        }"
      >
        <app-auth-overlay
          [mode]="mode"
          (login)="switchToLogin()"
          (register)="switchToRegister()"
        ></app-auth-overlay>
      </div>

    </div>

    <p class="text-center text-gray-600 text-xs md:text-sm px-4">
      <span class="font-bold text-black">Foco +</span>
      — organize seus estudos, construa consistência e alcance grandes resultados.
    </p>
  </div>

</div>