.auth-container {
  position: relative;
}

/* FORM CONTAINERS */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* OVERLAY */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-right {
  right: 0;
}

.overlay-left {
  transform: translateX(-20%);
}

.auth-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.auth-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.auth-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.auth-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.auth-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.auth-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

button.ghost {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 45px;
  border-radius: 9999px;
  font-weight: bold;
  text-transform: uppercase;
}
