<div class="px-4 sm:px-6 lg:px-10 py-8 w-full max-w-7xl mx-auto space-y-10">

    <div class="flex justify-between items-center">

        <div>
            <h1 class="text-slate-600 text-xl font-semibold">
                Sessões de estudo
            </h1>
            <p class="text-slate-500 text-sm">
                Organize suas atividades, acompanhe o tempo e o andamento
            </p>
        </div>

        <app-button-component
            label="Iniciar Sessão"
            icon="plus"
            variant="primary"
            (click)="onCreateSession()"
        ></app-button-component>

    </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

        <ng-container *ngFor="let s of studiesKips">
            <div class="shadow p-3 rounded-md bg-white">
            <app-stats-card
                [title]="s.title"
                [value]="s.value"
                [icon]="s.icon"
                [color]="s.color">
            </app-stats-card>
            </div>
        </ng-container>

        </div>


    <div class="flex flex-col justify-center gap-3 mb-7">
        <h2 class="text-sm text-slate-600">
            Próximas sessões a serem entregues
        </h2>

        <!-- <app-studies-filters
            variant="studies"
            [resultsCount]="filteredStudies.length"
            [searchQuery]="searchTerm"
            emptyMessage="Nenhuma matéria encontrada"
            (searchChange)="searchTerm = $event"
            (statusChange)="activeStatus = $event"
        ></app-studies-filters> -->

    </div>

        <app-studies-table
            [studies]="filteredStudies"
            [statusConfig]="statusConfig"
            (delete)="onRequestDeleteStudy($event)">
        </app-studies-table>

</div>

<app-study-session-modal
    *ngIf="isSessionModalOpen"
    [subjects]="subjects"
    [activities]="activities"
    (close)="onCloseSessionModal()"
    (confirm)="onConfirmSession($event)">
</app-study-session-modal>

<app-confirm-modal
    *ngIf="isDeleteModalOpen"
    title="Excluir Sessão"
    message="Tem certeza que deseja excluir esta sessão de estudo?"
    (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()">
</app-confirm-modal>