<button class="lg:hidden fixed top-4 left-4 z-50 p-2 bg-white rounded-md shadow"
    (click)="toggle()">
    <lucide-icon name="menu"></lucide-icon>
</button>

<div *ngIf="isOpen" class="fixed inset-0 bg-black/40 z-40 lg:hidden" (click)="close()"></div>

<nav class="fixed lg:static top-0 left-0 h-screen w-62 bg-white px-6 py-10 flex flex-col justify-between 
    shadow transition-transform duration-300 z-50 lg:translate-x-0" [ngClass]="{
    '-translate-x-full': !isOpen,
    'translate-x-0': isOpen
  }">

    <div>
        <div class="relative">
            <div class="flex items-center gap-3">
                <img src="seta-para-cima.png" class="w-8 h-8" alt="seta-para-cima">
                <span class="text-3xl font-bold text-gray-800">Foco +</span>
            </div>

            <button
                class="lg:hidden absolute -top-2 right-0 p-2 rounded-md
                    hover:bg-gray-100 transition cursor-pointer"
                (click)="isOpen = false"
                aria-label="Fechar menu"
            >
                <lucide-icon name="x" class="w-5 h-5"></lucide-icon>
            </button>
            </div>

    <ul class="space-y-7 mt-12">
        <li>
            <a routerLink="/" routerLinkActive="active"
            class="flex items-center gap-3 text-gray-700 hover:text-blue-600 transition">
            <lucide-icon name="house"></lucide-icon>
            <span class="text-xl font-medium">Home</span>
        </a>
        </li>

        <li>
            <a routerLink="/estudos" routerLinkActive="active"
            class="flex items-center gap-3 text-gray-700 hover:text-blue-600 transition">
            <lucide-icon name="book-open"></lucide-icon>
            <span class="text-xl font-medium">Estudos</span>
            </a>
        </li>

        <li>
            <a routerLink="/metas" routerLinkActive="active"
            class="flex items-center gap-3 text-gray-700 hover:text-blue-600 transition">
            <lucide-icon name="goal"></lucide-icon>
            <span class="text-xl font-medium">Metas</span>
        </a>
        </li>

        <li>
            <a routerLink="/relatorios" routerLinkActive="active"
            class="flex items-center gap-3 text-gray-700 hover:text-blue-600 transition">
            <lucide-icon name="clipboard-minus"></lucide-icon>
            <span class="text-xl font-medium">Relatórios</span>
        </a>
        </li>

        <li>
            <a routerLink="/configuracoes" routerLinkActive="active"
            class="flex items-center gap-3 text-gray-700 hover:text-blue-600 transition">
            <lucide-icon name="settings"></lucide-icon>
            <span class="text-xl font-medium">Configurações</span>
        </a>
        </li>
        
    </ul>
    </div>

        <div class="flex gap-3 items-center">
            <div class="h-10 w-10 rounded-full bg-gray-500 flex items-center justify-center font-bold">
              J
            </div>
              
              <div>
                  <p class="text-sm font-medium text-gray-700">John Doe</p>
                  <p class="text-xs text-gray-500">john.doe@gmail.com</p>
                </div>
        </div>

</nav>