<form [formGroup]="form" class="w-full max-w-sm space-y-4 text-center px-12">
  <h1 class="text-2xl font-extrabold text-gray-800">
    Entrar
  </h1>

  <input
    type="email"
    formControlName="email"
    placeholder="Email"
    class="w-full px-4 py-3 rounded-lg border border-gray-300 text-sm
           focus:outline-none focus:border-blue-500 focus:ring-2
           focus:ring-blue-500/40"
  />

  <input
    type="password"
    formControlName="password"
    placeholder="Senha"
    class="w-full px-4 py-3 rounded-lg border border-gray-300 text-sm
           focus:outline-none focus:border-blue-500 focus:ring-2
           focus:ring-blue-500/40"
  />

  <button
    class="w-full py-3 bg-blue-600 text-white rounded-lg
           hover:bg-blue-700 transition cursor-pointer"
  >
    Entrar
  </button>
</form>
