<div class="bg-white rounded-lg border border-slate-200 shadow-sm overflow-hidden">
    <div class="relative overflow-x-auto sm:overflow-visible">

        <table class="w-full">
        <thead class="bg-slate-50 border-b border-slate-200 hidden sm:table-header-group">
            <tr>
                <th class="table-head-cell">Matéria / Tópico</th>
                <th class="table-head-cell">Data</th>
                <th class="table-head-cell">Horário</th>
                <th class="table-head-cell">Duração</th>
                <th class="table-head-cell">Status</th>
                <th class="w-12 px-6 py-4"></th>
            </tr>
        </thead>

            <tbody *ngIf="studies.length > 0; else emptyState">
                <tr *ngFor="let s of studies" class="block sm:table-row border-b 
                    sm:border-b-0 transition mb-4 sm:mb-0 rounded-lg sm:rounded-none
                    bg-white sm:bg-transparent shadow-sm sm:shadow-none"
                    [ngClass]="{
                        'border-l-4 border-blue-500': s.status === 'em-andamento',
                        'bg-slate-50': s.status === 'planejado'
                    }"
                    >

                    <td class="relative sm:table-cell px-6 py-3">
                    <span class="sm:hidden text-xs text-slate-400 uppercase">
                        Matéria
                    </span>

                    <h3 class="font-semibold">
                        {{ s.subject }}
                    </h3>
                    <p class="text-sm text-gray-600">
                        {{ s.topic }}
                    </p>
                    </td>

                    <td class="block sm:table-cell px-6 py-3 text-sm">
                    <span class="sm:hidden text-xs text-slate-400 uppercase">
                        Data
                    </span>
                    {{ s.date }}
                    </td>
                    
                    <td class="block sm:table-cell px-6 py-3 text-sm">
                    <span class="sm:hidden text-xs text-slate-400 uppercase">
                        Horário
                    </span>
                    {{ s.startTime }}
                    </td>

                    <td class="block sm:table-cell px-6 py-3 text-sm">
                    <span class="sm:hidden text-xs text-slate-400 uppercase">
                        Duração
                    </span>
                    {{ s.duration }}
                    </td>

                    <td class="block sm:table-cell px-6 py-3">
                        <span class="sm:hidden text-xs text-slate-400 uppercase">
                            Status
                        </span>

                        <span
                            [ngClass]="statusConfig[s.status].bg"
                            class="px-3 py-1 rounded-full text-xs flex items-center gap-1 w-max mt-1"
                        >
                            <lucide-icon
                            [name]="statusConfig[s.status].icon"
                            class="h-4">
                            </lucide-icon>
                            {{ statusConfig[s.status].label }}
                        </span>
                        </td>

                    <td class="relative block sm:table-cell px-6 py-3 text-right overflow-visible">
                        <div class="relative inline-block">
                            <lucide-icon
                            name="ellipsis-vertical"
                            class="cursor-pointer"
                            [ngClass]="{
                                'text-gray-400': s.status === 'concluido',
                                'text-gray-600': s.status !== 'concluido'
                            }"
                            (click)="toggleMenu(s.id)">
                            </lucide-icon>
                        </div>

                            <div *ngIf="openMenuId === s.id"
                            class="absolute right-0 bottom-full mb-3 w-50 bg-white border border-slate-200 rounded-lg
                            shadow-lg z-50">
                            <ul class="py-1 text-sm text-center hover">
                                <li  class="px-4 py-2 cursor-pointer transition-colors hover:bg-slate-100 text-red-600" 
                                (click)="onDelete(s.id)">
                                    Excluir
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #emptyState>
            <tr >
            <td colspan="6" class="h-30 text-center align-middle">
            <div class="flex flex-col py-4 justify-center text-center text-slate-600">
                <p class="font-medium text-slate-600">
                    Nenhuma sessão encontrada
                </p>

                <p class="text-sm text-slate-400 mt-1">
                    Crie uma nova sessão para iniciar seus estudos
                </p>
            </div>
            </td>
            </tr>
        </ng-template>

    </div>
</div>